// ##################################################
// Card
// ##################################################

.card {
  height: calc(380px + 10vw);
  width: calc(234px + 6.18vw);
  background-color: $c-background;
  position: absolute;
  border-radius: 20px;
  box-shadow: 0 5px 20px 0 $c-background-dark-highlight;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 10;
  
  &__front, &__back {
    background-color: $c-background;
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  &__front {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    transform: rotateY(0deg);

    &.start {
      display: flex;
      align-items: center;
      justify-content: center;

      .card__logo--start {
        width: 60%;
      }
    }
  }

  &__back {
    height: 100%;
    width: 100%;
    transform: rotateY(180deg);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &__img {
    position: relative;
    background-size: cover;
    height: 50%;
    width: 100%;
  }

  &__gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-image: linear-gradient(to top, $c-background, rgba($c-background, 0));
  }

  &__content {
    height: 50%;
    position: relative;
  }

  &__badge {
    position: absolute;
    top: 10px;
    left: $l-wrapper-padding;
    display: flex;
    align-items: center;

    &.positiv span {
      position: relative;

      &::after {
        content: '';
        display: block;
        height: 20px;
        width: 3px;
        background-color: currentColor;
        border-radius: 1.5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &.neutral span {
      height: 20px;
      width: 20px;
      border: 3px solid currentColor;
      background-color: transparent;
      border-radius: 50%;
    }

    span {
      height: 3px;
      width: 20px;
      background-color: currentColor;
      display: inline-block;
      border-radius: 1.5px;
    }

    p {
      margin: 0;
      margin-left: 0.5em;
    }
  }

  &__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $l-wrapper-padding;
    padding-top: 20px;
    padding-left: 2.7em;

    * {
      margin: 0;
    }
  }

  &__desc {
    margin-bottom: 0.5em;
    color: $c-font-light;
  }

  &__logo {
    width: 10%;
    margin: 0 $l-wrapper-padding $l-wrapper-padding 0;
  }

  &--bg {
    z-index: 0;
    -webkit-transform: rotateY(180deg) translateZ(-1000px);
    transform: rotateY(180deg) translateZ(-1000px);
  }
}

// Animations

.card-enter-active {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.card-leave-active {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.card-enter {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-leave-to {
  opacity: 0;
  -webkit-transform: scale(0.5) translate(150vw, -150vw) rotateZ(45deg);
  transform: scale(0.5) translate(150vw, -150vw) rotateZ(45deg);
}

// Breakpoint

@include respond-to($breakpoint-small) {
  .card {
    height: 480px;
    width: 296px;
  }
}