// ##################################################
// Base
// ##################################################

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $c-background;
  background-image: url('../static/img/ui/bg-pattern.svg');
  background-size: 20px;
  background-repeat: repeat;
  min-height: 100vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style: none;
  padding-left: 2.5em;
  counter-reset: item;

  li {
    counter-increment: item;
    position: relative;

    &:not(:last-of-type) {
      margin-bottom: 1.5em;
    }

    &::before {
      font-size: 1.2em;
      font-family: $f-family-heading;
      font-weight: $f-weight-heading;
      color: $c-green;
      top: -0.2em;
      left: -2em;
      position: absolute;
      margin-right: 1em;
      content: counter(item);
      display: block;
    }
  }
}

img,
iframe {
  max-width: 100%;
}

// Breakpoint

@include respond-to($breakpoint-large) {
  ol {
    padding: 0;
  }
}